POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=dataxplore

TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_PHONE=+91xxxxxxxxxx

GEMINI_API_KEY=your_gemini_key

AIRFLOW_FERNET_KEY=your_fernet_key
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_password
